#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.NavBar { 
  
  border: 3px solid white;
}

.NavHeading {

  font-weight: 800;
  color: aliceblue;
  padding: 150px;
}

.articlesbox {

  border: 2px solid red;

}

.imgList {
  max-height: 200px;
  padding-top: 30px;
  margin: 10px;
}

.articleTitle {
  color: aliceblue;
}

.created-at {
  display: flex;
  font-size: 12px;
  margin-top: 1.5px;
  margin-left: 20.5px;
  margin-bottom: 50px;
}

.commentbox {

  
  background-color: darkslategrey;
  border-radius: 15px;
  display: flex;
  flex: auto;
  flex-direction: column;

}

.commentAuthor{
 margin-left: 1px;
  margin-bottom: 1px;
  color: rgb(151, 242, 242);
}

.commentBody {
  margin-top: 1px;
  
}

.votesBox{
  margin-top: 10px;
  margin-left: 10px;
  
}